<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>E-Shop</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <header>
        <div class="nav">
            <h1><a href="/">🛍️ E-Shop</a></h1>


            <nav class="navbar">
                <a href="/">Home</a>
                <a href="/cart">Cart</a>

                <form method="get" action="/search" class="search-form">
                    <input type="text" name="q" placeholder="Search products..." required>
                    <button type="submit">Search</button>
                </form>

                {% if user.is_authenticated %}
                <span class="nav-user">
                    👋Hello, {{ user.username }} |
                    <a href="/my-orders">My Orders</a> |
                    <a href="/logout">Logout</a>
                </span>
                {% else %}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
                {% endif %}
            </nav>
        </div>
    </header>
    {% if messages %}
    {% for message in messages %}
    <div class="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}


    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 E-Shop</p>
    </footer>
</body>

</html>